@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  display: flex;

  width: 100%;
  height: 100%;  
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  color: transparent;
  z-index: 1;
}


.contacts {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: #0A1813;
  background-image:  url("/bg/contact/contact-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: #0A1813;
  background-image:  url("/bg/gallery/gallery-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   }
.about {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: #0A1813;
  background-image:  url("/bg/about/about-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.services {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: #0A1813;
  background-image:  url("/bg/services/bg-01-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.career {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: #0A1813;
  background-image:  url("/bg/career/bg-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: #0A1813;
  background-size: cover;
  background-image:  url("/bg/home/bg-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contacts {
    background-image: url("/bg/contact/contact-mobile@2x.jpg");
  }
  .gallery {
    background-image:  url("/bg/gallery/gallery-mobile@2x.jpg");
  }
  .about {
    background-image:  url("/bg/about/about-mobile@2x.jpg");
  }
  .services {
    background-image:  url("/bg/services/bg-01-mobile@2x.jpg");
  }
  .career {
    background-image:  url("/bg/career/bg-mobile@2x.jpg");
  }
  .home {
    background-image:  url("/bg/home/bg-home-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: url("/bg/contact/contact-tablet.jpg");
  }
  .gallery {
    background-image: url("/bg/gallery/gallery-tablet.jpg");
  }
  .about {
    background-image: url("/bg/about/about-tablet.jpg");
  }
  .services {
    background-image: url("/bg/services/bg-01-tablet.jpg");
  }
  .career {
    background-image: url("/bg/career/bg-tablet.jpg");
  }
  .home {
    background-image: url("/bg/home/bg-home-tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .contacts {
      background-image: url("/bg/contact/contact-tablet@2x.jpg");
    }
    .gallery {
      background-image: url("/bg/gallery/gallery-tablet@2x.jpg");
    }
    .about {
      background-image:  url("/bg/about/about-mobile@2x.jpg");
    }
    .services {
      background-image: url("/bg/services/bg-01-tablet@2x.jpg");
    }
    .career {
      background-image: url("/bg/career/bg-tablet@2x.jpg");
    }
    .home {
      background-image: url("/bg/home/bg-home-tablet@2x.jpg");
    }
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image:  url("/bg/contact/contact-desktop.jpg");
  }
  .gallery {
    background-image:  url("/bg/gallery/gallery-desktop.jpg");
  }
  .about {
    background-image:  url("/bg/about/about-desktop.jpg");
  }
  .services {
    background-image:  url("/bg/services/bg-01-desktop.jpg");
  }
  .career {
    background-image:  url("/bg/career/bg-desktop.jpg");
  }
  .home {
    background-image:  url("/bg/home/bg-home-desktop.jpg");
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .contacts {
    background-image:  url("/bg/contact/contact-desktop@2x.jpg");
    }
    .gallery {
      background-image:  url("/bg/gallery/gallery-desktop@2x.jpg");
    }
    .about {
      background-image:  url("/bg/about/about-desktop@2x.jpg");
    }
    .services {
      background-image:  url("/bg/services/bg-01-desktop@2x.jpg");
    }
    .career {
      background-image:  url("/bg/career/bg-desktop@2x.jpg");
    }
    .home {
      background-image:  url("/bg/home/bg-home-desktop@2x.jpg");
    }
  }
}